.Manager {
  padding: 10px;
  margin: 0px 0px;
  text-align: center;
}
.Title {
  font-size: 36pt;
}

.clickable {
  cursor: pointer;
}
.Next {
  padding: 8px 20px;
  font-size: 16pt;
  border-color: black;
}

.Card-Container{
  position: relative;
}
.Card {
  position: relative;
  min-height: 200px;
  display:inline-block;
  vertical-align: top;
  margin: 10px;
  text-align: left;
  border: 10px solid black;
  background-color: #ffe6b3;
  font-size: 12pt;
}

.Card-color-Colorless {
  border-color: grey;
}
.Card-color-Gold {
  border-color: gold;
}
.Card-color-White {
  border-color: lightyellow;
}
.Card-color-Blue {
  border-color: blue;
}
.Card-color-Black {
  border-color: black;
}
.Card-color-Red {
  border-color: red;
}
.Card-color-Green {
  border-color: green;
}

.Card.has-pt {
  min-height: 170px;
  padding-bottom: 30px;
}
.Card-name, .Card-type, .Card-text {
  margin: 10px;
}
.Card-name {
  font-size: 16pt;
}
.Card-type {
  font-weight: bold;
}
.Card-text-line {
  margin-bottom: 5px;
}
.Card-cost {
  font-size: 16pt;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}
.Card-pt {
  font-size: 16pt;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.Scoreboard {
  position: relative;
  margin-top: 10px;
}
.Scoreboard .Container {
  width: 49%;
  display:inline-block;
}
.Scoreboard .Container .Count {
  display:inline-block;
  text-align: center;
  padding: 10px;
  font-size: 20pt;
}
.Right.Container {
  text-align: right;
}
.Right .Count.highlight {
  animation: highlight-green 1s;
}
.Wrong.Container {
  text-align: left;
}
.Wrong .Count.highlight {
  animation: highlight-red 1s;
}
@keyframes highlight-green {
  0% {
    background-color: lightgreen
  }
  100% {
    background-color: none;
  }
}
@keyframes highlight-red {
  0% {
    background-color: salmon
  }
  100% {
    background-color: none;
  }
}

img.symbol {
  width: 15px;
  height: 15px;
}
.Card-cost img.symbol {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 800px) {
  // this css will only be used when the screen size is min 800px
  .Manager {
    width: 80%;
  }
  .Card {
    width: 40%;
  }
}
